*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    color: gold;
    position: absolute;
    top: 30%;
    font-size: 90px;
}
button{
    margin-top: 60px;
    background-color: cyan;
    color: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,sans-serif;
    font-size: 16px;
    width: 150px;
    height: 50px;
}
.bir{
    color: green;
}
.ikki{
    color: black;
}